<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="margin-bottom margin-xxlarge"><h2 class="heading-style-h2">
{{ section.settings.text_titulo }}
</h2>
</div><div class="cta38_component">{% for cliente in shop.metaobjects.cliente.values %}    <div li-for="cliente in shop.metaobjects.cliente.values" class="cta38_item">
                                    
                            <a li-object:href="cliente.url" data-w-id="9303fa25-2f9b-e14c-1fa1-588801529a55" href="{{ cliente.url }}" target="_blank" class="cta38_link-block w-inline-block"><h3 li-object="cliente.nombre" class="cta38_link-text">{{ cliente.nombre }}</h3><div li-object="cliente.ciudad" class="clients_place">{{ cliente.ciudad }}</div><div class="cta38_link-image-wrapper pointer-events-off"><img class="cta38_link-image" src="{{ cliente.imagen | img_url: 'master' }}" alt="{{ cliente.imagen }}" sizes="(max-width: 1439px) 100vw, 1440px" li-object:src="cliente.imagen | img_url: 'master'" loading="eager" li-object:alt="cliente.imagen" srcset="{{ 'ASAM4785-1-p-500.jpg' | asset_url }} 500w, {{ 'ASAM4785-1-p-800.jpg' | asset_url }} 800w, {{ 'ASAM4785-1-p-1080.jpg' | asset_url }} 1080w, {{ 'ASAM4785-1.jpg' | asset_url }} 1440w">
</div></a>
                            
                        </div>
{% endfor %}</div></div></div></div> {% schema %} {"tag":"header","name":"Clientes","class":"section_cta38","settings":[{"id":"text_titulo","type":"text","label":"T\u00edtulo","default":"Nuestros clientes"}],"presets":[{"name":"Clientes","category":"Liquify","blocks":[]}]} {% endschema %}