<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="layout423_component"><div class="margin-bottom margin-xlarge"><div class="text-align-left"><div class="max-width-large"><div class="margin-bottom margin-small"><h2 class="heading-style-h2">
{{ section.settings.text_titular }}
</h2>
</div></div></div></div>{% for collection in section.settings.collection_list limit: section.settings.collection_limit %}    <div li-for="collection in section.settings.collection_list limit: section.settings.collection_limit" class="layout423_row">
                                    
                            {% for collection in collections %}    <div li-for="collection in collections" class="layout423_card">
                                    
                            <a li-object:href="collection.url" data-w-id="b85c6e0f-f544-0dcf-8384-9ff5d589f31a" href="{{ collection.url }}" class="layout423_card-link text-color-white w-inline-block"><div id="w-node-b85c6e0f-f544-0dcf-8384-9ff5d589f31b-13ef3fdd" class="layout423_image-wrapper"><div data-w-id="b85c6e0f-f544-0dcf-8384-9ff5d589f31c" class="layout423_overlay"></div><img class="layout423_image" src="{{ collection.featured_image | img_url: 'master' }}" alt="" sizes="(max-width: 2000px) 100vw, 2000px" li-object:src="collection.featured_image | img_url: 'master'" loading="lazy" srcset="{{ '01-p-500.jpg' | asset_url }} 500w, {{ '01-p-800.jpg' | asset_url }} 800w, {{ '01-p-1080.jpg' | asset_url }} 1080w, {{ '01-p-1600.jpg' | asset_url }} 1600w, {{ '01.jpg' | asset_url }} 2000w">
</div><div data-w-id="b85c6e0f-f544-0dcf-8384-9ff5d589f31e" class="layout423_card-content"><h3 li-object="collection.title" class="heading-style-h4">{{ collection.title }}</h3></div></a>
                            
                        </div>
{% endfor %}
                            
                            {% for collection in collections %}    <div li-for="collection in collections" class="layout423_card">
                                    
                            <a li-object:href="collection.url" data-w-id="9d12b01c-2275-bd96-621d-e03027015ce3" href="{{ collection.url }}" class="layout423_card-link text-color-white w-inline-block"><div id="w-node-_9d12b01c-2275-bd96-621d-e03027015ce4-13ef3fdd" class="layout423_image-wrapper"><div data-w-id="9d12b01c-2275-bd96-621d-e03027015ce5" class="layout423_overlay"></div><img class="layout423_image" src="{{ collection.featured_image | img_url: 'master' }}" alt="" sizes="(max-width: 2000px) 100vw, 2000px" li-object:src="collection.featured_image | img_url: 'master'" loading="lazy" srcset="{{ '01-p-500.jpg' | asset_url }} 500w, {{ '01-p-800.jpg' | asset_url }} 800w, {{ '01-p-1080.jpg' | asset_url }} 1080w, {{ '01-p-1600.jpg' | asset_url }} 1600w, {{ '01.jpg' | asset_url }} 2000w">
</div><div data-w-id="9d12b01c-2275-bd96-621d-e03027015ce7" class="layout423_card-content"><h3 li-object="collection.title" class="heading-style-h4">{{ collection.title }}</h3></div></a>
                            
                        </div>
{% endfor %}
                            
                            {% for collection in collections %}    <div li-for="collection in collections" class="layout423_card">
                                    
                            <a li-object:href="collection.url" data-w-id="7d6dbf1b-af63-cb97-8e4c-7970da445fc5" href="{{ collection.url }}" class="layout423_card-link text-color-white w-inline-block"><div id="w-node-_7d6dbf1b-af63-cb97-8e4c-7970da445fc6-13ef3fdd" class="layout423_image-wrapper"><div data-w-id="7d6dbf1b-af63-cb97-8e4c-7970da445fc7" class="layout423_overlay"></div><img class="layout423_image" src="{{ collection.featured_image | img_url: 'master' }}" alt="" sizes="(max-width: 2000px) 100vw, 2000px" li-object:src="collection.featured_image | img_url: 'master'" loading="lazy" srcset="{{ '01-p-500.jpg' | asset_url }} 500w, {{ '01-p-800.jpg' | asset_url }} 800w, {{ '01-p-1080.jpg' | asset_url }} 1080w, {{ '01-p-1600.jpg' | asset_url }} 1600w, {{ '01.jpg' | asset_url }} 2000w">
</div><div data-w-id="7d6dbf1b-af63-cb97-8e4c-7970da445fc9" class="layout423_card-content"><h3 li-object="collection.title" class="heading-style-h4">{{ collection.title }}</h3></div></a>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}</div></div></div></div> {% schema %} {"tag":"section","name":"Colecciones Destacad","class":"section_layout423","settings":[{"id":"text_titular","type":"text","label":"Titular","default":"Colecciones"}],"presets":[{"name":"Colecciones Destacad","category":"Liquify","blocks":[]}]} {% endschema %}