<div class="padding-global"><div class="container-large"><style>.collections_item:hover .collections_image,
.collections_item:focus-within .collections_image,
.collections_item:hover .collections_overlay-image,
.collections_item:focus-within .collections_overlay-image {
  scale: 1.1;
}
@media screen and (max-width: 1440px) {
  .swiper.is-collections {
    overflow: visible;
  }
}
</style><div class="padding-section-medium padding-bottom"><div id="w-node-fbc2b76f-ae1d-c44d-7b93-e3deb074d94a-13ef4038" class="filter_feed">{% for product in collection.products %}    <div data-delay="0" data-hover="false" li-for="product in collection.products" data-w-id="347efef7-07f3-cbc1-5138-0ffb8e1286e7" class="content17_dropdown w-dropdown">
                                    
                            <div data-w-id="347efef7-07f3-cbc1-5138-0ffb8e1286e8" class="content17_dropdown_toggle w-dropdown-toggle"><div li-object="product.title" class="content17_dropdown_toggle-name">{{ product.title }}</div><div class="content17_dropdown_toggle-closer">Cerrar</div><div class="content17_dropdown_toggle-opener">Ver detalles</div></div>
                            
                            <nav class="content17_dropdown_list w-dropdown-list"><div class="content17_dropdown_list-inner"><div class="content17_dropdown_list-inner-text"><p li-object="product.description" class="product-description">{{ product.description }}</p><div class="margin-top margin-large"><a li-object:href="product.url" href="{{ product.url }}" class="button w-button">Comprar</a></div></div><div id="w-node-_347efef7-07f3-cbc1-5138-0ffb8e1286f9-13ef4038" class="content17_dropdown_image-wrapper"><img class="content17_dropdown_image" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}" sizes="100vw" li-object:src="product.featured_image | img_url: 'master'" loading="lazy" li-object:alt="product.featured_image.alt" srcset="{{ '645a73e15c5951448da8132a_Leto_01-2-p-500.jpg' | asset_url }} 500w, {{ '645a73e15c5951448da8132a_Leto_01-2.jpg' | asset_url }} 520w">
<div class="content17_dropdown_image-layer"></div></div></div></nav>
                            
                        </div>
{% endfor %}</div><div class="margin-top margin-xxlarge hide-tablet"><div class="text-align-center"><a id="see-all" href="#" button="seeAll" data-w-id="cfd513a4-86bd-1482-2ebb-d03490ee8736" class="button is-link w-button">Ver todas</a></div></div><div style="display:none" class="modal3_component"><div style="-webkit-transform:translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="modal3_content-wrapper"><div class="modal3_slider"><a data-w-id="cfd513a4-86bd-1482-2ebb-d03490ee8745" href="#" class="modal3_close-button w-inline-block"><div>Cerrar</div></a><div class="swiper_component is-collections"><div class="collections_swiper-wrapper"><div class="swiper is-collections"><div role="list" class="swiper-wrapper is-collections">{% for product in collection.products %}    <div li-for="product in collection.products" class="swiper-slide is-collections">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div></div></div></div></div></div><div data-w-id="cfd513a4-86bd-1482-2ebb-d03490ee8748" style="opacity:0" class="modal3_background-overlay"></div></div><div class="w-embed"><style>.content17_item:hover {
    z-index: 99999;
  }
</style></div></div> <script> document.addEventListener('DOMContentLoaded', () =>{$(".swiper_component.is-collections").each(function (index){const swiper = new Swiper($(this).find(".swiper")[0],{autoHeight: false, followFinger: true, freeMode: false, slideToClickedSlide: false, slidesPerView: "auto", rewind: false, loop: true, centeredSlides: true, autoplay:{delay: 2500, disableOnInteraction: false,}, breakpoints:{992:{slidesPerView: 2,}, 1440:{slidesPerView: 3}}, mousewheel:{forceToAxis: true}, keyboard:{enabled: true, onlyInViewport: true}, pagination:{el: $(this).find(".swiper_pagination")[0], bulletActiveClass: "is-active", bulletClass: "swiper_bullet", bulletElement: "button", clickable: true,}, navigation:{nextEl: $(this).find(".swiper_button.swiper-next")[0], prevEl: $(this).find(".swiper_button.swiper-prev")[0], disabledClass: "swiper-button-disabled",}, slideActiveClass: "is-active", slideDuplicateActiveClass: "is-active", a11y:{slideRole: 'listitem'}});});}); </script> <div class="hide w-embed"></div>
</div></div> {% schema %} {"tag":"section","name":"collection_products","class":"section_filters","settings":[{"type":"collection_list","id":"collection_list","label":"Collections","limit":20},{"type":"range","id":"collection_limit","min":1,"max":50,"step":1,"label":"Collections: Limit","default":12}],"presets":[{"name":"collection_products","category":"Liquify","blocks":[]}]} {% endschema %}