<div class="padding-global"><div class="container-large"><div class="padding-section-small"><div class="layout3_component"><div class="w-layout-grid layout3_content"><div id="w-node-_1923d903-bbc5-3b6d-b0eb-69d787d3eaf3-13ef4053" class="layout3_content-left"><div class="margin-bottom margin-small"><h2 class="heading-style-custom">
{{ section.settings.text_contenido }}
</h2>
</div><div data-w-id="1923d903-bbc5-3b6d-b0eb-69d787d3eaf7" class="blow-logo-section3"><img loading="lazy" alt="{{ section.settings.image_imagen_izquierda.alt }}" src="{{ section.settings.image_imagen_izquierda | img_url: 'master' }}" class="blow-logo">
</div></div><div id="w-node-_1923d903-bbc5-3b6d-b0eb-69d787d3eaf9-13ef4053" class="layout3_image-wrapper"><div class="margin-bottom margin-small"><h2 class="heading-style-custom">
{{ section.settings.text_heading }}
</h2>
</div><img loading="lazy" alt="{{ section.settings.image_imagen_derecha.alt }}" src="{{ section.settings.image_imagen_derecha | img_url: 'master' }}" class="layout3_image">
</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Text Intro - Tipo3","class":"section_layout","settings":[{"id":"text_contenido","type":"text","label":"Contenido","default":"En el coraz\u00f3n de nuestro camino est\u00e1 el deseo de crear una comunidad: una red de personas que creen en la est\u00e9tica, la pasi\u00f3n y el prop\u00f3sito."},{"id":"image_imagen_izquierda","type":"image_picker","label":"Imagen Izquierda"},{"id":"text_heading","type":"text","label":"Heading","default":"Madrid<br\/>(es)"},{"id":"image_imagen_derecha","type":"image_picker","label":"Imagen Derecha"}],"presets":[{"name":"Text Intro - Tipo3","category":"Liquify","blocks":[]}]} {% endschema %}